
// Nuevos inicios
.nuevos-i{
  margin: 40px 0;
  @include breakpoint(baby){
    margin: 20px 0;
  }

  .nuevos-i-title{
    font-family: $font_geo_reg;
    margin-bottom: 40px;

    h2{
      font-size: 2.8rem;
      font-weight: bold;
      color: $gray;
    }

    p{
      font-size: 1rem;
      width: auto;
    }

    @media screen and (max-width: 768px) {
      text-align: center;
      margin-bottom: 20px;

      h2{
        font-size: 1.5rem;
      }
      p{
        max-width: 100%;
      }
    }
  }
}

.nuevos-i-box{

  >div {
    margin-right: 6%;
    transition: 0.2s ease-out;
    position: relative;

    >a{
      width: 100%;
      height: 100%;
      display: block;
      padding: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .nuevos-i-top{
      font-family: $font_geo_reg;

      h3{
        font-size: 1.3rem;
        color: transparentize($gray, 0.4);
        transition: 0.2s ease-in;

        @media (max-width: 768px) {
          font-size: .9rem;
        }

      }

      h4{
        letter-spacing: 0.25rem;
        font-size: 1.3rem;
        color: transparentize($gray, 0.4);
      }

      >img{
        opacity: 0.4;
        filter: alpha(opacity=40);
        transition: 0.1s ease-in;
        max-width: 40px;

        @media (max-width: 768px) {
          width: 60px;
          height: 60px;
        }
      }

      .modality{
        font-family: $font_cae_bold;
        font-size: 2rem;
        display: inline-block;

        @media (max-width: 1400px) {
          font-size: 1.8rem;
        }

        @media (max-width: 1200px) {
          font-size: 1.7rem;
        }

        @media (max-width: 1100px) {
          font-size: 1.6rem;
        }

        @media (max-width: 768px) {
          font-size: 1.2rem;
          display: block;
        }
      }


    }

    .nuevos-i-bottom{
      color: $gray;

      .nuevos-hr{
        margin: 15px auto;
        width: 5%;
        height: 8px;
      }

      .nuevos-hr-blue{
        background: $gray;
      }

      .nuevos-hr-yellow{
        background: $gray;
      }

      .nuevos-hr-orange{
        background: $gray;
      }

    }

    &:hover{
      border-color: $orange;

      h3,h4{
        color: $gray;
      }

      img{
        opacity:1 !important;
        filter: alpha(opacity=100) !important;
      }

      .nuevos-i-bottom{
        font-weight: bold;


      }

      .nuevos-i-top{
        color: $gray;
        .modality-orange{
          color: $gray;
        }

        .modality-blue{
          color: $gray;
        }

        .modality-yellow{
          color: $gray;
        }
      }

    }


    // Lineas
    &::before{
      content: "";
      position: absolute;
      right: 0;
      z-index: 1;
      top: 20%;
      width: 1px;
      height: 45%;
      background: transparentize($gray, 0.65);
    }

    &:last-child{
      &::before{
        width: 0;
      }
    }

    //end lines

    @media screen and (max-width: 768px) {
      border: 0px;
      margin-right: 0;

      >a{
        padding: 0;
      }

      .nuevos-i-top{
        img{
          max-width: 35px;
          margin-bottom: 0 !important;
        }

        h3{
          font-size: 1rem;

        }

        h4{
          letter-spacing: 0;
          font-size: 0.9rem;
        }

      }

      .nuevos-i-bottom{
        display: none;
      }

    }

  }// end >div
}

.nuevos-colegio{
  >div{
    margin-right: 0;
  }
}

.nuevos-i-force-minus{
  >div{
      border: 0px;
      margin-right: 0;

      >a{
        padding: 0;
      }

      .nuevos-i-top{
        img{
          max-width: 40px;
          margin-bottom: 15px;
          @media (max-width: 768px){
            width: 35px !important;
          }
          opacity: .4;
          filter: alpha(opacity=400);
          transition: all .2s ease-in-out;
        }

        h3{
          font-size: 1rem;
          line-height: 1.3rem;

          @media (max-width: 768px){
            font-size: .9rem;
            line-height: 1.3rem;
          }

          @media (max-width: 320px){
            font-size: .8rem;
          }

          .modality{
            font-size: 1.3rem;

            @media (max-width: 768px){
              font-size: 1.1rem;
            }

            @media (max-width: 320px){
              font-size: 1rem;
            }
          }

        }

        h4{
          letter-spacing: 0;
          font-size: 0.9rem;
        }

      }

      .nuevos-i-bottom{
        display: none;
      }
  }
}//end force minus

.hover-active{
  position: relative;
  border-color: $orange;

  h3,h4{
    color: $gray !important;
  }

  img{
    opacity:1 !important;
    filter: alpha(opacity=100) !important;
  }

  .nuevos-i-top{
    color: $gray;
    .modality-orange{
      color: $gray !important;
    }

    .modality-blue{
      color: $gray !important;
    }

    .modality-yellow{
      color: $gray !important;
    }
  }

  @media screen and (min-width: 768px) {
    &::after{
      content: "";
      width: 20px;
      height: 8px;
      position: absolute;
      bottom: -25px;
      transform: translate(-50%, -50%);
    }
  }
}

.hover-orange{
  &::after{
    background: $orange;
  }
}

.hover-blue{
  &::after{
    background: $orange;
  }
}

.hover-yellow{
  &::after{
    background: $orange;
  }
}

.nuevos-i-active{
  position: relative;
  img{
    opacity:1 !important;
    filter: alpha(opacity=100) !important;
  }

  .nuevos-i-top{
    h3,h4{
      color: $gray !important;
    }
  }

  &::after{
    position: absolute;
    content: "";
    background: $orange;
    width: 2rem;
    height: 1rem;
    z-index: 1;
    bottom: -48px;
    left: 10px;
  }

  &::after{
    left: 40%;
  }

}

.nuevos-i-border{
  padding-bottom: 2.5rem;
  border-bottom: 2px solid $gray;
}


/**
 *  Nuevos Inicios: Lista
 */

.nuevos-i-list{
  select{
    max-width: auto;
  }

  .nuevos-i-list-selects{

    @media screen and (max-width: 768px){
      margin-top: 2rem;
    }

    >div{
      margin-left: 2.5rem;
        @media screen and (max-width: 768px) {
        margin:0;
        margin-bottom: 10px;
      }

      select{
        @media screen and (max-width: 768px) {
          margin: 0;
          max-width: 65%;
        }

      }
    }
  }//Fin list-selects

  .nuevos-i-list-data{
    margin-top: 1rem;

    h3{
      color: $orange;
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }

  .ii{
     @media screen and (max-width: 768px) {
       font-size: 0.9rem;
       margin-top: 0.3rem;
       padding-right: 0.2rem;
     }

    &::before{
      font-family: $font_icon;
      font-size: 15px;
      color: $orange;
      padding-left: 2px;
    }
  }//end

  .ii-ul{
    @media screen and (max-width: 768px) {
      padding-left: 1.3rem;
    }
    margin-bottom: 1rem;
  }

  .ii-li{
    margin-bottom: 1rem;
  }
}


.i-cycle::before{
  content: "\f21e";
}

.i-turn::before{
  content: "\f236";
}

.i-date::before{
  content: "\f15c";
}

.i-money::before{
  content: "\f294";
}

.i-horary::before{
  content: "\f18f";
}



.block-effecthover{

  &:hover{
    .block-effecthover-item:not(:hover){
          img{
            opacity: 0.3 !important;
            filter: alpha(opacity=3) !important;
          }

          .modality-blue, .nuevos-hr-blue{
            color: transparentize($gray, 0.7) !important;
          }

          .modality-yellow, .nuevos-hr-yellow{
            color: transparentize($gray, 0.7) !important;
          }

          .modality-orange{
            color: transparentize($gray, 0.7) !important;
          }

          .nuevos-hr-orange{
            background: transparentize($gray, 0.7) !important;
          }

          .nuevos-hr-blue{
            background: transparentize($gray, 0.7) !important;
          }

          .nuevos-hr-yellow{
            background: transparentize($gray, 0.7) !important;
          }

          h3,h4{
            color: transparentize($gray, 0.3) !important;
            transition: all 0.2s ease-in-out !important;
          }

          .nuevos-i-bottom span{
            color: transparentize($gray, 0.3) !important;
          }

      }
  }

  .block-effecthover-item{


    img{
      transition: all 0.2s ease-in-out !important;
      opacity: 1 !important;
    }

    .modality-blue{
      color: $gray !important;
      transition: all 0.2s ease-in-out !important;
    }

    .modality-yellow{
      color: $gray !important;
      transition: all 0.2s ease-in-out !important;
    }

    .modality-orange{
      color: $gray !important;
      transition: all 0.2s ease-in-out !important;
    }


    transition: 0.2s ease-in !important;
    border-color: $orange !important;

    h3,h4{
      color: $gray !important;
      transition: all 0.2s ease-in-out !important;
    }


    .nuevos-i-bottom{
      font-weight: bold !important;
    }

    .nuevos-i-top{
      color: $gray !important;
    }

    @media (min-width: 767px){
      &:hover::after{
        content: "";
        font-size: 10px;
        position: absolute;
        bottom: 0;
        width: 20px;
        height: 8px;
        background: $orange;
        transform: translate(-50%, -50%);
      }
    }

  }
}

.nuevos-i__vacations{
  background: $orange;
  transition: all .2s ease-in-out;
  overflow: hidden;

  i,h3,p{
    transition: all .2s ease-in-out;
    color: white !important;
  }

  &:hover{
    transform: scale(1.03);
  }
}


.nuevos-i__vacations-v2{
  padding: 40px;

  a{
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.card__svg-vacations{
  width: 100%;
  min-width: 150px;
  max-width: 170px;
}

.card__svg-vacations__sun{
  //transition: all .5s ease-in-out;
}

.card__svg-vacations{
  &:hover{
    .card__svg-vacations__sun{
      animation: sun_rotation 4s linear infinite;
      transform-origin: 50% 23%;
    }
  }
}

@keyframes sun_rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}






.admission-ads__container h1 {
    font-size: 1.5rem !important;
}

a.admission-ads__link.shory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 0;
}

.pruebas {
    font-family: Geogrotesque-SmBd !important;
    text-align: start;
}

.Pity {
    font-family: Geogrotesque-Rg !important;
}

#modalTrilceHome .modal-dialog {
    max-width: 40%;
}

#modalTrilceHome .modal-content {
    width: 100%;
    height: auto;
}



div#modalTrilceHome {
    padding-right: 0 !important;
}

.modern-modal .modal-dialog {
    width: 100%;
    height: auto;
    margin: 10% auto;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

button.close.modern-close {
    color: #f4633a;
    z-index: 99;
    font-size: 40px;
}

.modern-modal .modal-content {
    position: relative;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #ffffff, #f9f9f9);
    animation: fadeIn 0.3s ease-in-out;
}

.modern-modal .modal-body {
    padding: 0;
    text-align: center;
}

.modern-modal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}

.modern-modal .modal-web {
    display: none;
}

.modern-modal .modal-movil {
    display: block;
}



/* Close Button */
.close.modern-close {
    position: absolute;
    /* Si quieres colocarlo en una posición específica */
    top: 10px;
    /* Ajusta según sea necesario */
    right: 10px;
    /* Ajusta según sea necesario */
    background-color: transparent;
    /* Fondo transparente */
    border: none;
    /* Sin bordes */
    font-size: 20px;
    /* Tamaño del texto para el símbolo de cierre */
    width: 40px;
    /* Ajusta el tamaño del botón */
    height: 40px;
    /* Ajusta el tamaño del botón */
    display: flex;
    /* Centra el contenido */
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* Forma circular */
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
}



/* Responsive Design */
@media (max-width: 768px) {
    .modern-modal .modal-dialog {

        margin: 30% auto;
    }

    #modalTrilceHome .modal-dialog {
        max-width: 85%;
    }

    #modalTrilceHome .modal-content {
        width: 100%;
        height: auto;
    }


    .modern-modal .modal-dialog {
        width: 95%;
        /* El modal ocupa más espacio en pantallas pequeñas */
        max-width: 90%;
        /* Máximo 90% en pantallas pequeñas */
    }

    .modern-modal img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        display: block;
        border-radius: 15px;
    }

    .modern-modal .modal-web {
        display: none;
        /* Esconde la versión web en pantallas pequeñas */
    }

    .modern-modal .modal-movil {
        display: block;
        /* Muestra la versión móvil */
    }
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.visually-hidden {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

dl,
ol,
ul {
    margin-bottom: 0rem;
}

.carousel.web {
    display: block;
}

.carousel.mobile {
    display: none;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 4em;
    text-shadow: 1px 1px 1px #0000007a;
}

@media (max-width: 480px) {

    .carousel.web {
        display: none !important;
    }

    .carousel.mobile {
        display: block !important;
    }
}

.carousel-control-prev {
    width: 10%;
}

.carousel-control-next {
    width: 15%;
}

.carousel-item {
    text-align: center;
    background: #f5f5f5
}

.header-web {
    min-height: 120px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    font-family: CaeciliaLTPro-45Light;
}

.card2 {
    font-family: CaeciliaLTPro-45Light;
}

.card2 h3 {
    color: #f4633a;
}

.colegio-cardsv2-items__item:hover {
    text-decoration: none;
}

.container-padding-mobile span {
    display: flex;
    flex-direction: row;
}

.breadcrumb {
    background-color: transparent;
    padding: 0px;
    margin-bottom: 0px;
}

.breadcrumb li:last-child {
    color: white;
    margin-top: -1px;
}

footer {
    font-family: CaeciliaLTPro-45Light;
}

footer .links ul {
    margin-left: 15px;
}

.footer-right-icons {
    margin-bottom: 0px;
}

@media(max-width: 768px) {
    header .nav-burger ul {
        position: absolute;
        z-index: 99999;
        width: 100vw;
        background-color: #fff;
        text-align: center;
        margin-top: 70px;
        top: 0;
        opacity: 0;
        overflow: hidden;
        height: 0;
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        box-shadow: 0px 0px 2px #000;
        right: 5px;
        left: auto !important;
    }

    .breadcrumb li:last-child {
        line-height: 12px;
    }

    footer .footer-top span {
        margin-left: 15px;
    }

    .header-web {
        min-height: 70px;
        margin: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0;
    }

    nav .label-toggle {
        margin-top: 12px;
    }
}

.admission-ads__link:hover {
    text-decoration: none;
}

.ads-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.ads-sub img {
    position: relative;
    left: 15px;
}

/* MODAL INICIO */


#carouselTrilceColegioMovil a,
#carouselTrilceColegioMovil a:link,
#carouselTrilceColegioMovil a:visited,
#carouselTrilceColegioWeb a,
#carouselTrilceColegioWeb a:link,
#carouselTrilceColegioWeb a:visited {
    color: white !important;
}

.header-web {
  min-height: 120px !important;
  margin-right: 30px !important;
  margin-left: 30px !important;
  margin-top: 30px !important;
  font-family: CaeciliaLTPro-45Light;
}


.colegio-cardsv2__herotitle{
  color: #ff4e0e
}

.Pity{
  color: #000
}

.blog-home-top-content p {
text-align: justify;
}
@media (max-width: 768px){
  footer {
      margin-bottom: 0px;
  }
  .card2 {
    margin-bottom: 0px;
    margin-top: 2px;
 }
 .nav__highlight.nav__highlight--left {
  padding-left: 0px;
 }
 .vacations__select {
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
 }
 .vacations__select-item {
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
 }
 .vacations__select-item .select-vacations{
  display: flex;
  justify-content: center;
 }
 .ss-main .ss-single-selected{
  margin-bottom: 10px;
  width: 180px !important;
}

}


footer{
  height: auto;
}


/*ESTRUCUTA NUEVO*/