.header-vacations{
  margin: 40px 0;
  @include breakpoint(baby){
    margin: 20px 0;
  }
}

.vacations__container{
  margin-bottom: 40px;
  @include breakpoint(baby){
    margin-bottom: 20px;
  }
}

.vacations__logo{
  padding-left: 12px;
  padding-right: 12px;
}

.vacations__logo-svg{
  width: 100%;
}

.vacations__container-logo{
  @include breakpoint(baby){
    text-align: center;
    img{
      max-width: 70%;
    }
  }
}

.vacations__txt{
  font-family: $font_geo_reg;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 0;

  @include breakpoint(baby){
    font-size: 1rem;
  }
}

.vacations__select-item{
  padding: 15px;

  @include breakpoint(baby){
    padding: 10px;
  }
}

.vacations__home-container{
  margin: 0 auto;

  @include breakpoint(baby){
    margin: 20px 0;
  }

  &.vacations__home-container--init{
    background: $orange;
    padding: 20px;

    @include breakpoint(baby){
      padding: 15px;
    }
  }

  .vacations_starth1, .vacations_starth2{
    font-family: $font_geo_reg;
    color: white;
  }

  .vacations_starth1{
    font-size: 2.2rem;

    @include breakpoint(baby){
      font-size: 1.3rem;
    }
  }

  .vacations_starth2{
    font-size: 1,92;
    margin-top: 10px;

    @include breakpoint(baby){
      font-size: 1.1rem;
    }
  }
}

.select-vacations{
  font-family: $font_geo_reg;

  .ss-single-selected {
      background-color: $orange;
      color: white !important;
      border: none
  }

  .ss-single-selected .ss-arrow * {
      border-color: #fff !important;
  }

  .placeholder .ss-disabled{
    color: white !important;
  }

  .ss-option.ss-disabled{
    color: $gray !important;
  }

  .ss-content{
    color: white;
    background: $orange;
  }

  .ss-option:hover{
    background: white !important;
    color: $orange !important;
  }
}

.vacations__title{
  font-size: 2.2rem;
  font-family: $font_cae_bold;
  padding: 10px;

  @include breakpoint(baby){
    font-size: 1.6rem;
  }
}


.js-tabs__vacations{

  @include breakpoint(baby){
    margin: 20px 0;
  }

  .js-tabs__title > svg, img{
    pointer-events: none;
  }

  .js-tabs__header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .js-tabs__header li{
    min-width: 150px;
    max-width: 30%;

    @include breakpoint(baby){
      width: 100%;
      min-width: 100%;
    }
  }

  .js-tabs__title-active{
    background: white;
    color: $orange !important;

    svg{
      fill: $orange;
    }
  }

  .js-tabs__title{
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;

    >div{
      &:first-child{
        overflow: hidden;
        width: 70px;
        height: 70px;
      }

      &:last-child{

      }
    }

    @include breakpoint(baby){
      font-size: 1.05rem;
      flex-direction: row;
      flex-wrap: nowrap;

      >div{
        &:first-child{
        }

        &:last-child{
          text-align: left;;
        }
      }

    }
  }
}

.vacations-svg{
  width: 80px;
  fill: $gray;
  height: auto;
  transition: all .2s ease-out;
  font-size: 3.7rem;

  @include breakpoint(baby){
    width: 50px;
    font-size: 1.4rem;
  }
}

.vacations-svg__title{
  position: relative;
  top: -10px;
  font-size: 1.2rem;
  transition: all .2s ease-in-out;

  sup{
    font-size: .8rem;
  }

  &.vacations-svg__title--lm{
    display: block;
    padding-top: 20px;

    @include breakpoint(baby){
      padding-top: 0;
    }
  }
}


.vacations-venue__image-rigth{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img{
        position: relative;
//        height: fit-content;
        bottom: 0;
  }

  @include breakpoint(baby){
    display: none !important;
  }
}

.vacations__bottom{
  font-family: $font_geo_md;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  h1,h3{
    color: white;
    text-align: center;
  }

  h1{
    font-size: 1.7rem;

    @include breakpoint(baby){
      font-size: 1.3rem;
    }
  }

  h3{
    font-size: 1.35rem;

    @include breakpoint(baby){
      font-size: 1.1rem;
    }
  }

  &.vacations__bottom--orange{
    background: $orange;
  }

  &.vacations__bottom--white{
    margin-top: 20px;
    margin-bottom: 30px;
    background: white;
    padding: 0;

    h1,h3{
      color: $orange;;
    }

    @include breakpoint(baby){
      padding-bottom: 0px;
    }
  }
}

.landing__title{
  width: 100%;
  text-align: center;

  @include breakpoint(baby){
    margin:0;
  }
}


.landing__title h1{
  font-size: 2rem;
  color: #f4633a;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 30px;

  @include breakpoint(baby){
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.3rem;
  }
}

.admission__form-submit-captcha{
  height: 78px;
  overflow: hidden;
}

.admission__form > div > .form-group{
  @include breakpoint(baby){
    width: 100% !important;
  }
}

.admission__form .checkbox{
  input{
    width: 15px;
  }
}

.admission__form-submit-button{
  margin-top: 20px;

  button{
    @include breakpoint(baby){
      font-size: 1.5rem
    }
  }
}

.vacations__image-container{
  justify-content: center;
}

.vacations__image-girl{
  align-self: flex-end;
  max-width: 250px;
  width: 100%;
}

.admission__register{
  justify-content: flex-start !important;
}

.vacations__lm-container{
  margin: 40px 0;
}

.vacations__lm-block{
  margin-bottom: 20px;
  padding-right: 20px;
}

.vacations__lm__title{
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-family: $font_geo_smbold;

  span{
    font-size: 1.1rem;
    color: $gray;
    font-family: $font_geo_reg;
  }
}

.vacations_lm__list{

  li{
    font-family: $font_geo_reg;
    font-size: 1rem;
    padding-left: 30px;
    text-indent: -10px;
    margin-bottom: 10px;

    li{
      margin-bottom: 5px;

      &::before{
        content: "";
      }
    }

    &::before{
      content: "\F323";
      position: relative;
      left: -2px;
      color: #f4633a;
      font-family: "FontAwesome";
      font-size: 12px;
      vertical-align: middle;
    }
  }
}

.vacations__lm__information{
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 20px;

  >div{
    font-family: $font_geo_reg;
  }

  i{
    color: $orange;
  }

  @include breakpoint(baby){
    flex-direction: column;
  }
}


// HOVER EFFECT
.js-tabs__vacations .js-tabs__header{

  li:active{
    background: visited;
  }

  &:hover{
    li:not(:hover){
      .vacations-svg{
        filter: opacity(35%) !important;
      }

      .vacations-svg__title{
        filter: opacity(35%) !important;
      }
    }
  }
}

// DEFAULT NO ACTIVE

// SET DEFAULT COLORS
.js-tabs__vacations .js-tabs__header{

  $colors: #2a99f4, #3dc175, #ecaf20, #f77261, #7c3e1c, #965fff, #ff6334, #ea5b0c, #4e5ff4, #634e42;

  @for $i from 1 through length($colors) {
      li:nth-child(#{$i}) {

          .vacations-svg{
            fill: nth($colors, $i);
          }

          .vacations-svg__title{
            color: nth($colors, $i);
          }

          .js-tabs__title{
            &.js-tabs__title-active{
              div:nth-child(2){
                border-bottom: 1px solid nth($colors, $i);
              }

              @include breakpoint(baby){
                div:nth-child(2){
                  border-bottom: none;
                }

              }
            }
          }

          &:hover{
            .vacations-svg{
              fill: nth($colors, $i);
            }

            .vacations-svg__title{
              color: nth($colors, $i);
            }
          }

      }
  }
}
