/node_modules
/public/storage
/public/static
/public/fonts
/public/css
/public/js
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/matricula-2019
/public/matricula-2020
/public/inscripcion-academia
app/Http/Controllers/Dashboard
resources/views/dashboard
resources/assets/images/patterns
resources/assets/sass/dashboard
resources/assets/sass/main_dashboard.scss