footer{
  background: #53565A;
  height: 100%;
  width: 100%;
  color: lighten($gray, 50%);
  font-size: 0.8rem;
  padding-bottom: 20px;
  padding-top: 30px;

  span.espe-text {
    font-family: 'Geogrotesque-Md';
    font-size: 15px;
}

  @include breakpoint(baby){
    margin-bottom: 65px;
  }

  @media screen and (max-width: 700px) {
    font-size: 11px;
  }

  a{
    color: white;
  }

  .footer-menu{
    width: 100%;
  }

  .footer-top{
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1rem;

    span{
      @media screen and (max-width: 768px) {
        font-size: 11px;
      }
    }
  }

  @include breakpoint(baby){
    .footer-bottom{
      margin-top: 20px;
    }
  }

.links{
  ul{
    margin-top: 15px;

    li{
      display: inline;

      a,a:link{
        text-decoration: none;
        color: lighten($gray, 50%);
      }

      &::after{
        padding-left: 5px;
        padding-right: 5px;
        content:"|";
      }

      &:last-child{
        &::after{
          content: "";
        }
      }
      a:hover{
        color: white;
      }
    }// end  li

    @media screen and (max-width: 768px) {
      text-align: left;

      li{
        margin-top: 6%;
        display: block;

        &::after{
          padding-left: 0;
          content:"";
        }// end after

      }// end li

    }// end media ul

  }//end ul
}

.footer-right-icons {
  @media screen and (max-width: 768px) {
  }

  li{
    display: inline-block;

    a{
      font-size: 1.5rem;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }

    a:link,a:visited{
      color: white
    }

    &::after{
      content:"";
      padding-left: 10px;
    }
  }
}
}

.followconnect{
  padding: 0.5rem;
}


.footer-text-left {
  text-align: left;
  margin: 0 auto;
}

.footer-text-left {
  display: flex;
  flex-direction: column;
  align-items: center; /* alinea el contenido a la izquierda */
  margin: 0 auto;
}

.fot-est {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.footer-column-space {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Al comienzo de la columna */
  height: 100%; /* Esto es necesario para que se pueda distribuir el espacio */
  gap: 50px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 20px; /* Espacio entre los textos y las redes sociales */
}

.footer-right-icons {
  margin-top: 10px; /* Un poco de espacio extra antes de los íconos */
}

.separator-line {
  border-top: 1px solid #ccc;  /* Línea de separación */
  margin: 20px 0;  /* Espacio por encima y por debajo de la línea */
}

