@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

.header-double-top {
  > .row {
    position: relative;
    height: auto;
    flex-wrap: wrap;
    overflow: hidden;

    @include breakpoint(baby) {
      height: auto;
    }
  }
}

.header-double-bottom {
  background: $orange;

  @include breakpoint(baby) {
    height: 30px;
  }
}

.header-double-content-top {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  @include breakpoint(baby) {
    order: -1;
    height: 100px;
  }
}

.header-double-title {
  position: absolute;
  width: 60%;
  transform: translate(-60%, -50%);
  left: 50%;
  top: 50%;

  @include breakpoint(baby) {
    right: -83%;
    width: 100%;
    left: unset;
    transform: unset;
    position: relative;
    top: -28px;
    left: 0;
    text-align: center;

    &::before {
      display: none;
    }
  }

  h1 {
    font-size: 2.4em;
    font-family: $font_cae_heavy;
    color: white;
    display: inline-block;
    background-color: $orange;
    padding: 0.7rem;

    @include breakpoint(baby) {
      font-size: 1.3rem;
      padding: 0.1rem;
    }

    @include breakpoint(minibaby) {
      font-size: 1.1rem;
      padding: 0.1rem;
    }
  }

  p {
    color: white;
    display: inline-block;
    margin-left: 2rem;

    @media (max-width: 1600px) {
      display: none;
    }
  }
}

.header-double-border {
  position: absolute;
  border: 10px solid white;
  width: 65.3%;
  height: 70%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  @include breakpoint(baby) {
    display: none; // v2
  }
}

.header-double-p-up {
  font-size: 1.1rem;
  font-weight: bold;
  max-width: 25rem;
}

.header-double-top-colegio {
  > .row {
    position: relative;
    height: 255px;
    flex-wrap: wrap;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      height: auto;
    }

    > div.col-xs-12,
    div.col-sm-6,
    div.col-md-12 {
      &:nth-child(1) {
        @media screen and (max-width: 768px) {
          height: 4rem;
        }
      }

      &:nth-child(2) {
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (max-width: 768px) {
          order: -1;
          height: 10rem;
        }
      }
    }

    .header-double-title {
      position: absolute;
      width: 60%;
      @include margin(5rem, initial, initial, 11.5%);
      left: 0;

      @include breakpoint(baby) {
        bottom: 0px;
        margin-left: 10%;
      }

      h1 {
        font-size: 3.5em;
        font-family: $font_cae_heavy;
        color: $orange;
        display: inline-block;
        background-color: white;
        padding: 0.8rem;

        @include breakpoint(baby) {
          font-size: 1.2rem;
          padding: 0.1rem;
        }
      }

      p {
        font-family: $font_geo_reg;
        color: $gray;
        display: inline-block;
        margin-left: 2rem;

        @include breakpoint(baby) {
          display: none;
        }
      }
    }

    .header-double-border {
      position: absolute;
      border: 0.7rem solid $orange;
      width: 60%;
      @include margin(3rem, 20%, 2%, 20%);
      height: 70%;
      left: 0;

      @media screen and (max-width: 768px) {
        border: 0.3rem solid white;
        bottom: -50%;
      }
    }
  }
}