/* HEADER */
@import 'header.css';

/* BANNERS */
@import 'banners.css';

/* SIDEBAR */
@import 'sidebar.css';

/* CALL */
@import 'calltoaction.css';


/* FOOTER */
@import 'footer.css';

/* UTILS */
@import 'fonts.css';

/* MOBILE */
@import 'responsive.css';

* {
    box-sizing: content-box !important;
    box-sizing: border-box !important;
    font-family: Geogrotesque-Rg;
}

*::-moz-selection {
    background:  #FF6334;
    color: #fff;
    text-shadow: none;
}

*::selection {
    background:  #FF6334;
    color: #fff;
    text-shadow: none;
}
