.text-justify-center{
  text-align: justify;
  text-justify: inter-word;
}

.grayhr{
  width: 100%;
  border: 0.5px solid $gray_border;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.grayhr2{
  width: 100%;
  border: 0.5px solid $gray_border;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.clearfix{
  padding: .1px 0;
}

.separator-squared{
  width: 8%;
  height: 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
}

.separator-orange{
  background: $orange;
}

.separator-gray{
  background: $gray;
}

.loading-trilce{
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.loading-trilce-polygon {
  stroke-dasharray: 2110;
  stroke-dashoffset: 2110;
  stroke-width:1;
  stroke-linecap:round;
  animation: dash_trilce 3s linear infinite;
  fill-opacity:0;
  stroke:#f4633a;
}

@keyframes dash_trilce {
  0% {
    stroke-dashoffset: 2410;
    opacity:0;
    stroke:#f4633a;
  }
  15%{
    opacity:1;
    stroke:#f4633a;
  }
  70%{
    opacity:1;
    stroke:#f4633a;
  }
  100%{
    stroke-dashoffset:0;
    opacity:0;
    stroke:#f4633a;
  }
}

.xs-reverse{
  @include reverse-breakpoint(baby){
    display: none;
  }
}
