@import 'helpers/all';

body, html{
  width: 100%;
  height: 100%;
}

@include breakpoint(baby){
  body {
    height: 100vh;
    width: 100vw;
  }
}

.container-mobile{
  margin-top: 20px;
  position: relative;
  $self: &;

  height: 100%;
  width: 100%;

  @include reverse-breakpoint(baby){
    display: none;
  }

  #{$self}__container-logo
  {
    display: flex;
    justify-content: center;

    svg{
      min-width: 165px;
      fill: $orange;
    }

  }

}

.container-mobile__content{
  height: 60vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box__mobile{
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  >div{
    width: 100%;
  }
}

.href2{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.human2{
  border: 7px solid $orange;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: end;
  justify-content: flex-end;
  border-right: 0;

  img{
    min-width: 10vh;
    height: auto;
    align-self: center;
  }
}

.human2__academia{
  border-left: 0px;
  border-right: 7px solid $orange;
  img{
  }
}

.footer{
  display: none;
  $self: &;

  bottom: 0;
  position: absolute;
  width: 100%;

  .footer__buttons {
    display: flex;
    width: 100%;
  }

  @include reverse-breakpoint(baby){
    display: none;
  }
}


.h-boton{
  width: 50% !important;
  padding: 10px;
  text-align: center;
}

.h-boton a{
  font-size: 30px;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-family: $font_geo_reg;
}

.footer__buttons__colegio
{
  background: white;
  a,a:link, a:visited{
  color: $gray;
  }
}

.footer__buttons__academia{
  background: $orange;
    a,a:link, a:visited{
    color: white;
  }
}

.container{
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;

  @include breakpoint(baby){
    display: none;
  }

  &:hover{
    >div:not(:hover){
      width: 35%;
      opacity: .6;
    }
  }
}

.side{
  display: flex;
  transition: all .2s ease-in-out;
  align-items: center;
  overflow: hidden;
}

.box{
  position: relative;
  border: 12px solid;
  border-right: 0;
  border-left: 0;
  width: 65%;
  height: 50%;
  display: flex;
  transition: all .2s ease-in-out;
}

.human{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;

  img{
    min-width: calc(48vh - 10vw) !important;
  }



  @media (min-width: 768px) and (max-width: 1024px) {

  display: none;
  }

}

.logo{
  width: 150px;
  height: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  svg{
    width: 100%;
    height: 100%;
  }

}

.logo-colegio{
  fill: $orange;
  left: -135px;


  @media (min-width: 768px) and (max-width: 1024px) {
    left: -100px;
  }

}

.logo-academia{
  fill: white;
  right: -135px;


  @media (min-width: 768px) and (max-width: 1024px) {
    right: -100px;
  }
}

.cta{
  position: absolute;
  min-width: 150px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all .3s ease-in-out;
  font-family: $font_geo_reg;
  z-index: 5;
}

.slogan{
  font-size: 1.8rem;
}

.enter{
  margin-top: 15px;
  font-family: $font_geo_smbold;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(baby){
    margin-top: 0;
  }

  span{
    font-size: 1.4rem;
  }

  span .fa{
    vertical-align: middle;
  }

}

.href{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.colegio{
  width: 50%;
  background: white;
  justify-content: flex-end;

  .box{
    border-right: 0;
    border-color: $orange;
    justify-content: flex-start;

    &::before{
      content: "";
      position: absolute;
      width: 12px;
      height: 100%;
      left: 0;
      background: linear-gradient(to bottom,
      rgba(244, 99, 58,1) 0%,
      rgba(244, 99, 58,1) 34%,
      rgba(244, 99, 58,0) 34%,
      rgba(244, 99, 58,0) 65%,
      rgba(244, 99, 58,1) 65%,
      rgba(244, 99, 58,1) 100%
      );
    }
  }

  .human{
    margin-left: 50px;

    img{
      height: 48vh;
    }
  }

  .cta{
    right: -50vw;

    .slogan{
      color: $gray;
    }

    .enter{
      color: $orange;
      justify-content: flex-start;
    }
  }

  &:hover{
    width: 85%;

    .box{
      width: 80%;
    }

    .cta{
      opacity: 1;
      right: 5vw;
    }

  }
}

.academia{
  width: 50%;
  background: $orange;
  justify-content: flex-start;

  .box{
    border-color: white;
    justify-content: flex-end;

    &::before{
      content: "";
      position: absolute;
      width: 12px;
      height: 100%;
      right: 0;
      top: 0;
      background: linear-gradient(to bottom,
      rgba(255, 255, 255,1) 0%,
      rgba(255, 255, 255,1) 34%,
      rgba(255, 255, 255,0) 34%,
      rgba(255, 255, 255,0) 65%,
      rgba(255, 255, 255,1) 65%,
      rgba(255, 255, 255,1) 100%
      );

    }
  }

  .human{
    margin-right: 50px;
    right: 0;

    img{
      height: 50vh;
    }
  }

  .cta{
    left: -50vw;

    .slogan{
      color: white;
    }

    .enter{
      color: white;
      justify-content: flex-end;
    }
  }

  &:hover{
    width: 85%;

    .box{
      width: 80%;
    }

    .cta{
      opacity: 1;
      left: 5vw;
    }

  }
}


/*
  Adrian idea
*/

.logo-adrian{
  max-height: 70px;
  padding: 10px;
  padding-bottom: 0;
}

.container-adrian{
//  height: calc(100% - 65px);
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.block{
//  height: calc(50% - 30px);
  height: 50%;
  overflow: hidden;

  >a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.part{
  width: 100%;
}

.part__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  .enter{
    color: white;
  }
}

.part__academia{
  max-width: 120px;
  fill: white;
}

.part__colegio{
  max-width: 120px;
  fill: $orange;
}

.part__enter-colegio{
  color: $orange !important;
}

.human-girl{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  img{
    max-width: calc(100% - 2vw);
  }

  @include breakpoint(baby){
    img{
      width: calc(100% - 30px);
    }

    @media (orientation: landscape) {
      width: 0;

      img{
        display: none;
      }
    }

  }


}

.block__colegio{
}

.block__academia{
  background: $orange;
}


.logo-permanent{
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
  opacity: 1 !important;
  pointer-events: none;

  svg{
    width: 240px;
    max-width: 300px !important;
  }
}

// Cambios Para Los 40 años Trilce
#logo-40year{
  margin-right: 30px;
  margin-bottom: 30px;
  position: absolute;
  pointer-events: none;
  opacity: 1 !important;
  bottom: 0px;
  right: 0px;
  display:block;
  width: 240px;
  text-align:center;
  svg{
    height: 130px;
    max-width: 300px !important;
  }
  p{
    font-family: $font_geo_reg;
    color: white;
    text-align:center;
    width: 240px;
    padding: 0 55px;
  }         
}
.container_new {
   
  position: absolute;
  top: 0;
  background: #ff5000;
  color: #ff5000;
  width: 100%;
  min-height: 100vh;
  display: flex;
  z-index: 99999999999
}

#lottie{
  position: absolute;
  left: 0%;
  top: -5%;
  transform: translate(-0%, -0%);
  -webkit-transform: translate(-0%, -0%);
  background-color:#ff5000;
  width:100%;
  height:100%;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;

  @media screen and (max-width: 768px) {
    transform: scale(2.5);
    -webkit-transform: scale(2.5)
  }

}

.cerrar {
  transform: translateY(-100%);
  -webkit-transform: translateY(-200%);
  transition: all 0.5s;
  -webkit-transition: all 0.5;
  @media screen and (max-width: 768px) {
    transform: translateY(-200%);
    -webkit-transform: translate(-200%);
    transition: all 0.5s;
    -webkit-transition: all 0.5;
  }
}

body {
  margin: 0;
  overflow-Y: hidden; /*quitar el scroll*/
}
@keyframes preloader {
    90% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}