section.calltoaction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    background-color: #F5F5F5;
}

section.calltoaction h5 {
    text-align: center;
    color: #FF6334;
    font-size: 2em;
}

section.calltoaction .box-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section.calltoaction .box img {
    width: 200px;
}

section.calltoaction span {
    text-align: center;
}

section.calltoaction button {
    background-color: #FF6334;
    color: #fff;
    font-weight: bold;
    border-radius: 1px;
    margin: 0.8em auto 0em;
    font-size: 1.2em;
    letter-spacing: 1px;
    width: 200px;
    padding: 0.5em 0em;
}

section.calltoaction button:hover {
    color: #FF6334;
    background-color: #fff;
}